.header {
}

.nav {
  background-color: #f8f9fa;
  padding-top: 0.8rem;
  padding-bottom: 1.2rem;
}
.container--header {
  margin-top: 1;
  max-width: 130rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 2.4rem 4.8rem 2.4rem;
}

.logo {
  height: 10rem;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link {
  display: inline-block;
  position: relative;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

.main-nav-link:hover,
.main-nav-link:active {
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: #027bde;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: -0.8rem;
  left: 0;
  background-color: #027bde;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home {
  position: relative;
  height: 60rem;
  background-image: url("/assets/images/hero-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome-text {
  text-align: center;
  font-size: 8.6rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.btn-welcome{
  display: block;
  margin: auto;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  border: 1px solid #fff;
  font-weight: 500;
  color: #fff;
  border-radius: 0.325rem;
  background: none;
  transition: all 0.4s;
}

.btn-welcome:hover{
  background-color: #fff;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.welcome-paragraph {
  font-size: 1.8rem;
  color: #fff;
}

.section-about {
  padding: 4.8rem 0 9.6rem 0;
}

.about{
  margin-bottom: 4.8rem;
}

.about-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  padding-bottom: 4.8rem;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 3rem;
  border: 1px solid #dee2e6;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.about-box:hover{
  transform: translateY(-1.2rem);
}

.box-fill{
  background-color: #4D63C6;
  color: #fff;
}

.box-header {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.box-icon {
  font-size: 2.4rem;
}

.box-text{
  font-size: 1.8rem;

}

.about-header{
  margin-bottom: 3.2rem;
  /* text-align: center; */
  font-size: 5.2rem;
  text-transform: capitalize;
  font-weight: 700;
}

.about-text{
  font-size: 1.8rem;
  line-height: 1.6;
}

.specializations-section{
  background-color: #f8f8f8;
}

.tertiary-header{
  font-size: 5.2rem;
  text-transform: capitalize;
}

.specializations-list{
  list-style: none;
}

.specializations-item{
  font-size: 1.8rem;
  padding: 0.5rem;
  line-height: 1.6;
}